@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lexend';
  src: url('/font/LexendDeca-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('/font/LexendDeca-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('/font/LexendDeca-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('/font/LexendDeca-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('/font/LexendDeca-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

body {
  font-family: 'Lexend';
  font-weight: 400;
}